h1{
    text-align: left;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 100px;
}

body{
    background-image: url(./img/471368.jpeg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.gameBoard{ 
    
    border: 5px solid black;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    

}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{

    border: 1px solid black;
    
}
 
.x{
    background-image: url(./img/Tom.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.o{
    background-image: url(./img/Jerry_Mouse.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

#restart{
    background-color: cornsilk;
    color: firebrick;
    font-size: larger;
    font-family: 'Mouse Memoirs', sans-serif;
    
    
}
 

button{
    margin: right;
    
}