h1{
    text-align: center;
}


.gameBoard{ 
    
    border: 5px solid black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{

    border: 1px solid black;
    /* background-color: cornsilk; */
   

}
 
.x{
    background-image: url(./img/Tom.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.o{
    background-image: url(./img/Jerry_Mouse.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}


